*
{
    margin: 0;
    padding:0;
}





.contentBox{
    display:grid;   
    max-height: 93lvh; 
    max-width: 100lvh;
    overflow-x: scroll;
}

.font-color-w{
    color: rgb(241, 246, 255);
}

.bg{
    background-color:  rgb(18, 18, 46);
    
}

.bg-content{
    background-color:  rgb(35, 35, 59);
}

.list-group-item:hoverd{
    background-color: rgb(24, 24, 45);
    color: rgb(241, 246, 255);
}


