*
{
    margin: 0;
    padding:0;
}

@media (min-width: 768px){
    .contentBox{
        display:grid;   
        max-height: 93lvh; 
        max-width: 100lvh;
        overflow-x: scroll;
        padding:15px;
    }
}


.introContainer {
    position: relative;
    text-align: left;
    color: white;
  }

  .textOverlay{
    position: absolute;
    top: 250px;
    left: 16px;
  }
  

.textabs{
    padding-left:0px;
    padding-right:0px;
    border-radius: 12.5px;
    max-width:75%;
    background-color:rgb(190, 197, 200);
    color:rgb(3, 45, 62);
    font-size: small;
   
}

.font-color-w{
    color: rgb(241, 246, 255);
}

.bg{
    background-color:  rgb(18, 18, 46);
    
}



