
@media (min-width: 990px){
    .contentBox{
        max-height: 100lvh; 
        max-width: 100%;
        overflow-x: scroll;
        
    }
}

@media (max-width: 768px){
    .collapse-center{  
        justify-content: center !important;
    }
    .collapse-start{
        justify-content: start !important;
    }
    .resize-header{
        letter-spacing: .4em !important;
    }
}

.mr{
    margin-right: 10px !important;
}

.title{
    font-weight: 300 !important;
    font-style: italic !important;
}

.italic{
    font-style: italic;
}

.introContainer {
    position: relative;
    text-align: left;
    color: white;
  }

  .textOverlay{
    position: absolute;
    top: 250px;
    left: 16px;
  }

.textabs{
    padding:5px;
   
    border-radius: 12.5px;
    max-width:75%;
    background-color:rgb(3, 45, 62);
    color:rgb(190, 197, 200);
    font-size: medium;
   
}

.textIndent{
    text-indent: 75px;
}

.font-color-w{
    color: rgb(241, 246, 255);
}

.font-blue{
    color: rgb(18, 18, 46);
}

.font-yellow{
    color: rgb(255, 193, 7);
}

.bg{
    background-color:  rgb(18, 18, 46);
    
}

.bg2{
    background-color: #f5f5f5;
}

.bg3{
    background-color:rgb(255, 193, 7);
}

.bootbox-confirm div div {
    background-color: #f0f3f4;
<<<<<<< HEAD
    font-weight: 700;
    
} 
.bootbox-alert div div {
    background-color: #f0f3f4;
    font-weight: 700;
} 

#spinner { display:none; } 
form.busy .spinner { display:block !important; }
=======
    font-weight: 700;    
} 
.bootbox-alert div div {
    background-color: #f0f3f4;
    font-weight: 700;   
} 
>>>>>>> b6b5bcf7a873fad0363408e3b558cc510ea863ef
